
###> symfony/framework-bundle ###
**/app/.env
**/.env.test
**/app/.env.local
**/app/.env.local.php
**/app/.env.*.local
**/app/config/secrets/prod/prod.decrypt.private.php
**/app/public/bundles/
**/app/var/
**/app/vendor/
**/app/node_modules
**/app/images/products
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
**/app/public/assets/
**/app/assets/vendor/
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
**/app/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/data
.idea