name: _test

on:
  workflow_call:

permissions:
  contents: read

defaults:
  run:
    working-directory: .

jobs:
  phpqa-tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: api_test
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    env:
      APP_ENV: test
      DATABASE_URL: mysql://root:root@mysql:3306/api_test?serverVersion=8.0

      APP_SECRET: ${{ secrets.APPSECRET }}
      JWT_PASSPHRASE: ${{ secrets.JWTPASSPHRASE }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:v2
          extensions: pdo_mysql

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: |
            ~/.composer/cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Install phpqa
        run: composer s:phpqa:install

      - name: Run phpqa
        run: composer s:phpqa
